.chip {
  margin: 0 0.5rem 0.5rem 0;

  &:last-of-type {
    margin: 0
  }
}

.title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.wrapper {
  padding-bottom: 1rem;
}

.residentsWrapper {
  margin-bottom: 1rem;
}