.terrain, .climate, .population, .rotationPeriod {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
  text-transform: capitalize;

  svg {
    margin-right: 0.25rem;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
