@import "reset";
@import "all";
@import url("https://use.typekit.net/eiy0egq.css");

@import "../../assets/fonts/fira/fira_code.css";

$size-header-width: 35%;
$size-header-pad: 4em;

// Breakpoints.

@include breakpoints(
	(
		xlarge: (
			1281px,
			1800px,
		),
		large: (
			981px,
			1280px,
		),
		medium: (
			737px,
			980px,
		),
		small: (
			481px,
			736px,
		),
		xsmall: (
			null,
			480px,
		),
	)
);

/* Basic */

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	// Stops initial animations until page loads.
	&.is-preload {
		*,
		*:before,
		*:after {
			@include vendor("animation", "none !important");
			@include vendor("transition", "none !important");
		}
	}
}

input,
select,
textarea {
	color: _palette(fg);
	font-family: _font(family);
	font-size: 1.15em;
	font-weight: _font(weight);
	line-height: 1.25;
}

strong,
b {
	color: _palette(fg-bold);
	font-weight: _font(weight-bold);
}

em,
i {
	font-style: italic;
}

p {
	margin: 0 0 _size(element-margin) 0;
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

blockquote {
	border-left: solid 6px _palette(border);
	font-style: italic;
	margin: 0 0 _size(element-margin) 0;
	padding: 0.5em 0 0.5em 1.5em;
}

code {
	background: _palette(border-bg);
	border-radius: _size(border-radius);
	border: solid 2px _palette(border);
	font-family: _font(family-fixed);
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: _font(family-fixed);
	font-size: 0.9em;
	margin: 0 0 _size(element-margin) 0;

	code {
		display: block;
		line-height: 1.75em;
		padding: 1em 1.5em;
		overflow-x: auto;
	}
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/* Form */

form {
	margin: 0 0 _size(element-margin) 0;
}

label {
	color: _palette(fg-bold);
	display: block;
	font-size: 0.9em;
	font-weight: _font(weight-bold);
	margin: 0 0 (_size(element-margin) * 0.5) 0;
}

input {
	border-style: none;
	background: transparent;
	outline: none;
}

textarea {
	padding: 0.75em;
}

input[type="checkbox"],
input[type="radio"] {
	@include vendor("appearance", "none");
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;

	& + label {
		@include icon(false, solid);
		color: _palette(fg);
		cursor: pointer;
		display: inline-block;
		font-size: 1em;
		font-weight: _font(weight);
		padding-left: (_size(element-height) * 0.6) + 0.75em;
		padding-right: 0.75em;
		position: relative;

		&:before {
			background: _palette(border-bg);
			border-radius: _size(border-radius);
			border: solid 2px transparent;
			content: "";
			display: inline-block;
			font-size: 0.8em;
			height: (_size(element-height) * 0.75);
			left: 0;
			line-height: (_size(element-height) * 0.675);
			position: absolute;
			text-align: center;
			top: 0;
			width: (_size(element-height) * 0.75);
		}
	}

	&:checked + label {
		&:before {
			background: _palette(fg-bold);
			border-color: _palette(fg-bold);
			color: _palette(bg);
			content: "\f00c";
		}
	}

	&:focus + label {
		&:before {
			border-color: _palette(accent1, bg);
		}
	}
}

input[type="checkbox"] {
	& + label {
		&:before {
			border-radius: _size(border-radius);
		}
	}
}

input[type="radio"] {
	& + label {
		&:before {
			border-radius: 100%;
		}
	}
}

::-webkit-input-placeholder {
	color: _palette(fg-light) !important;
	opacity: 1;
}

:-moz-placeholder {
	color: _palette(fg-light) !important;
	opacity: 1;
}

::-moz-placeholder {
	color: _palette(fg-light) !important;
	opacity: 1;
}

:-ms-input-placeholder {
	color: _palette(fg-light) !important;
	opacity: 1;
}

/* List */

ol {
	list-style: decimal;
	margin: 0 0 _size(element-margin) 0;
	padding-left: 1.25em;

	li {
		padding-left: 0.25em;
	}
}

ul {
	list-style: disc;
	margin: 0 0 _size(element-margin) 0;
	padding-left: 1em;

	li {
		padding-left: 0.5em;
	}

	&.alt {
		list-style: none;
		padding-left: 0;

		li {
			border-top: solid 2px _palette(border);
			padding: 0.5em 0;

			&:first-child {
				border-top: 0;
				padding-top: 0;
			}
		}
	}
}

dl {
	margin: 0 0 _size(element-margin) 0;
}

/* Table */

.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

table {
	margin: 0 0 _size(element-margin) 0;
	width: 100%;

	tbody {
		tr {
			border: solid 1px _palette(border);
			border-left: 0;
			border-right: 0;

			&:nth-child(2n + 1) {
				background-color: _palette(border-bg);
			}
		}
	}

	td {
		padding: 0.75em 0.75em;
	}

	th {
		color: _palette(fg-bold);
		font-size: 0.9em;
		font-weight: _font(weight-bold);
		padding: 0 0.75em 0.75em 0.75em;
		text-align: left;
	}

	thead {
		border-bottom: solid 2px _palette(border);
	}

	tfoot {
		border-top: solid 2px _palette(border);
	}

	&.alt {
		border-collapse: separate;

		tbody {
			tr {
				td {
					border: solid 2px _palette(border);
					border-left-width: 0;
					border-top-width: 0;

					&:first-child {
						border-left-width: 2px;
					}
				}

				&:first-child {
					td {
						border-top-width: 2px;
					}
				}
			}
		}

		thead {
			border-bottom: 0;
		}

		tfoot {
			border-top: 0;
		}
	}
}

#nprogress {
	direction: ltr;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0.35em;
	z-index: 1000;

	.nprogress-bar {
		background: linear-gradient(
			to right,
			_palette(tetradic, first),
			_palette(tetradic, second),
			_palette(tetradic, third),
			_palette(tetradic, fourth),
			_palette(tetradic, first),
			_palette(tetradic, second)
		);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 0.35em;
		box-shadow: _palette(accent1, bg) 1px 0 6px 1px;
	}
}
